@import "../globalStyle/vars";
@import "../globalStyle/template";
@import "../globalStyle/header";
@import "../globalStyle/footer";

// Author: Olga
// Refactored by Pavel

.main {
  padding-block: 93px 115px;
  @media (max-width: $laptop-l) {
    padding-block: 30px 35px;
  }
  background-color: #f1f4f8;
  .main__wrapper {
    @extend %default-wrapper;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    @media (max-width: 1640px) {
      padding-inline: 20px;
    }
    .main__news-principal {
      flex-grow: 1;
      flex-basis: 72.44%;
      padding: 46px 38px 66px 45px;
      background-color: $text-light-color;
      @media (max-width: $laptop-l) {
        padding: 23px 19px 33px 22px;
      }
      @media (max-width: $phone-l) {
        padding: 10px 9px 15px 11px;
      }
      .main__news-principalh2 {
        @include default-h($text-dark-color);
        &_top {
          margin-bottom: 31px;
        }
      }
      .main__news-principal-information {
        display: flex;
        margin-bottom: 36px;
        @media (max-width: $tablet-l) {
          flex-direction: column;
        }
        .main__news-principal-information-foto {
          max-width: 100%;
          background-color: #f2f6fb;
          text-align: center;
          .main__news-principal-information-img {
            @media (max-width: $phone-l) {
              width: 100%;
            }
          }
        }
        .main__news-principal-information-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background-color: #f2f6fb;
          padding: 24px 36px;
          .main__news-principal-information-date {
            margin-bottom: 12px;
            padding: 4px 7px;
            font-family: $font;
            font-weight: 400;
            font-size: 12px;
            color: $text-blue-color;
            background-color: $text-light-color;
          }
          .main__news-principal-information-infoh3 {
            margin-bottom: 20px;
            font-family: $font;
            font-weight: 700;
            font-size: 36px;
            color: $text-black-color;
            @media (max-width: $laptop-s) {
              font-size: 24px;
            }
          }
          .main__news-principal-information-text {
            @include default-p($text-blue-color);
          }
        }
      }
      .main__news-principal-slide {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 9px;
        @media (max-width: $phone-l) {
          justify-content: center;
        }
        &_first {
          margin-bottom: 56px;
        }
        .main__news-principal-slide-number {
          display: inline-block;
          border: 1px solid #9fb8d2;
          text-align: center;
        }
        .slide-number {
          background-color: $text-light-color;
          font-weight: 700;
          font-size: 20px;
          color: $btn-link-dark-color;
          min-width: 47px;
          min-height: 47px;
          border-radius: 0%;
          border: none;
          cursor: pointer;
        }
        .slide-number:hover {
          background-color: #1d80eb;
          border: none;
          color: $text-light-color;
        }
      }
      .main__news-principal-slide-arrow {
        margin-left: 4px;
        width: 7px;
        height: 12px;
        background: url(../../images/news/arrow.svg);
        background-size: cover;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .main__news-principal-internal {
      margin-bottom: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main__news-principal-loupe {
        width: 19px;
        height: 19px;
        background: url(../../images/news/search-loupe.svg);
        background-size: cover;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(1.2);
        }
        @media (max-width: $phone-l) {
          display: none;
        }
      }
    }
    .main__news-principal-ournews {
      margin-bottom: 28px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 25px;
      row-gap: 28px;
      @media (max-width: $laptop-l) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
      .main__news-principal-ournews-information {
        display: flex;
        justify-content: center;
        @media (max-width: $phone-l) {
          flex-direction: column;
          text-align: center;
        }
        .main__news-principal-ournews-information-foto {
          background-color: #f2f6fb;
        }
        .main__news-principal-ournews-information-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background-color: #f2f6fb;
          padding: 21px 28px;
          @media (max-width: $phone-l) {
            align-items: center;
          }
          .main__news-principal-ournews-information-date {
            margin-bottom: 12px;
            padding: 4px 7px;
            font-family: $font;
            font-weight: 400;
            font-size: 12px;
            color: $text-blue-color;
            background-color: $text-light-color;
          }
          .main__news-principal-ournews-information-infoh3 {
            margin-bottom: 20px;
            font-family: $font;
            font-weight: 700;
            font-size: 22px;
            color: $text-black-color;
          }
          .main__news-principal-ournews-information-text {
            font-family: $font;
            font-weight: 400;
            font-size: 18px;
            color: $text-blue-color;
          }
        }
      }
    }
    .main__news-additional-wrapper {
      flex-basis: 26.31%;
      padding: 30px 38px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 50px;
      background-color: $text-light-color;
      @media (max-width: $pc-m) {
        display: none;
      }
    }
    .main__news-additional {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 20px;
      font-family: $font;
      .main__news-additional-internal {
        font-family: $font;
        .main__news-additional-internal-title {
          .main__additionalh2 {
            font-weight: 700;
            font-size: 24px;
            color: $text-black-color;
          }
        }
      }
      .main__news-additional-ournews {
        font-family: $font;
        .main__news-additional-ournews-information {
          display: flex;
          justify-content: space-between;
          column-gap: 19px;
          .main__news-additional-ournews-information-info {
            .main__news-additional-ournews-information-infoh4 {
              margin-bottom: 13px;
              font-family: $font;
              font-weight: 700;
              font-size: 18px;
              color: $text-black-color;
            }
            .main__news-additional-ournews-information-text {
              margin-bottom: 10px;
              font-family: $font;
              font-weight: 400;
              font-size: 14px;
              color: $text-blue-color;
            }
            .main__news-additional-ournews-information-date {
              padding: 4px 7px;
              font-family: $font;
              font-weight: 400;
              font-size: 12px;
              color: $text-blue-color;
              background-color: #f1f4f8;
            }
          }
        }
      }
    }
  }
}
