/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hidden-element {
  display: none !important;
}

.appeared-display-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.footer__container, .header__container {
  max-width: 1600px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hidden-element {
  display: none !important;
}

.appeared-display-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.footer__container, .header__container {
  max-width: 1600px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.header {
  background-image: url(../../images/global/header/bg.png);
  background-size: cover;
}
@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
.header__container {
  position: relative;
  padding-block: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1640px) {
  .header__container {
    padding-inline: 20px;
  }
}
@media (max-width: 1640px) {
  .header__container {
    padding-inline: 20px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__container .header__logo {
  width: 164px;
  height: 51px;
  background-size: cover;
}
.header__container .header__burger-menu-btn {
  width: 35px;
  height: 35px;
  background: url(../../images/global/header/burger-bar.png);
  background-size: cover;
  border: none;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .header__container .header__burger-menu-btn {
    display: inline-block;
  }
}
.header__container .header__nav-info-wrapper {
  max-width: 940px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  .header__container .header__nav-info-wrapper {
    max-width: 750px;
  }
}
@media (max-width: 1024px) {
  .header__container .header__nav-info-wrapper {
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .header__container .header__nav-info-wrapper {
    display: none;
    max-width: 250px;
    position: absolute;
    top: 100%;
    right: 0;
  }
}
.header__container .header__nav-info-wrapper .header__nav {
  max-width: 560px;
  width: 100%;
}
@media (max-width: 768px) {
  .header__container .header__nav-info-wrapper .header__nav {
    max-width: none;
  }
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__container .header__nav-info-wrapper .header__nav .header__nav-list {
    flex-direction: column;
  }
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item {
  transition: 0.3s;
}
@media (max-width: 768px) {
  .header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    background-image: url(../../images/global/header/bg.png);
    background-size: cover;
  }
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item:hover {
  transform: scale(1.2);
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item:active .header__link {
  transition: 0s;
  color: #ffec8b;
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link_bold {
  font-weight: bold;
}
@media (max-width: 768px) {
  .header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link {
    font-size: 32px;
    line-height: 38px;
  }
}
.header__container .header__nav-info-wrapper .header__info-wrapper {
  max-width: 332px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  .header__container .header__nav-info-wrapper .header__info-wrapper {
    max-width: 142px;
  }
}
@media (max-width: 1024px) {
  .header__container .header__nav-info-wrapper .header__info-wrapper {
    display: none;
  }
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper {
    display: none;
  }
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-keys-icon {
  margin-right: 8px;
  width: 21px;
  height: 29px;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper .header__phone-num {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper .header__order-call {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper .header__order-call:hover {
  transform: scale(1.1);
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__white-vert-line {
  width: 1px;
  height: 17px;
  background-color: white;
}
@media (max-width: 1280px) {
  .header__container .header__nav-info-wrapper .header__info-wrapper .header__white-vert-line {
    display: none;
  }
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__search-link-btn {
  text-decoration: none;
  width: 16px;
  height: 16px;
  background: url(../../images/global/header/search-loupe.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__search-link-btn:hover {
  transform: scale(1.5);
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper {
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper:hover {
  transform: scale(1.2);
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper:hover .header__select-language-wrapper .header__curr-language {
  color: #ffec8b;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__language-flag-img {
  width: 16px;
  height: 16px;
  margin-right: 9px;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper .header__curr-language {
  margin-right: 6px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper .header__choose-language-btn {
  width: 7px;
  height: 4px;
  background-size: cover;
  border: none;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper .header__choose-language-btn_arrow-bottom {
  background: url(../../images/global/header/arrow.svg);
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper .header__choose-language-btn_arrow-top {
  background: url(../../images/global/header/arrow-reverse.svg);
}
.header__container .header__languages-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  max-width: 250px;
  width: 100%;
  flex-direction: column;
}
.header__container .header__languages-list .header__language-item-wrapper {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  background-image: url(../../images/global/header/bg.png);
  background-size: cover;
  cursor: pointer;
}
.header__container .header__languages-list .header__language-item-wrapper:hover > .header__language-item-text {
  transform: scale(1.2);
  color: #ffec8b;
}
.header__container .header__languages-list .header__language-item-wrapper .header__language-item-img {
  width: 24px;
  height: 24px;
}
.header__container .header__languages-list .header__language-item-wrapper .header__language-item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
  transition: 0.3s;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hidden-element {
  display: none !important;
}

.appeared-display-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.footer__container, .header__container {
  max-width: 1600px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.footer {
  background-color: #1c1e21;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: white;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1640px) {
  .footer__container {
    padding-inline: 20px;
  }
}
.footer__container .footer__wr-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 49px 70px;
}
@media (max-width: 1280px) {
  .footer__container .footer__wr-footer {
    justify-content: space-around;
    padding-block: 30px;
  }
}
@media (max-width: 1280px) {
  .footer__container .footer__wr-footer .footer__wr-info {
    display: none;
  }
}
.footer__container .footer__wr-footer .footer__wr-info .footer__logo-img {
  margin-bottom: 20px;
}
.footer__container .footer__wr-footer .footer__wr-info .footer__text {
  max-width: 456px;
  font-size: 18px;
}
.footer__container .footer__wr-footer .footer__link-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 222px;
}
@media (max-width: 768px) {
  .footer__container .footer__wr-footer .footer__link-box_main, .footer__container .footer__wr-footer .footer__link-box_nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__container .footer__wr-footer .footer__link-box_contacts {
    align-items: center;
  }
}
.footer__container .footer__wr-footer .footer__link-box .footer__link-title {
  font-size: 22px;
  font-weight: 700;
}
.footer__container .footer__wr-footer .footer__link-box .footer__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.footer__container .footer__wr-footer .footer__link-box .footer__link_socials {
  width: 23px;
  height: 23px;
}
.footer__container .footer__wr-footer .footer__link-box .footer__address {
  max-width: 366px;
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .footer__container .footer__wr-footer .footer__link-box .footer__address {
    text-align: center;
  }
}
.footer__container .footer__wr-footer .footer__link-box .footer__number {
  width: 210px;
  display: flex;
  justify-content: space-between;
}
.footer__container .footer__wr-footer .footer__link-box .footer__icons {
  width: 115px;
  display: flex;
  justify-content: space-between;
}
.footer__container .footer__copyright {
  display: flex;
  flex-direction: column;
  padding-block: 26px 32px;
  max-width: 1170px;
  width: 100%;
  border-top: 1px solid #353535;
}
.footer__container .footer__copyright .footer__copyright-text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.html {
  height: 100%;
}
.html .body {
  height: 100%;
}
.html .body .global-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.html .body .global-container .main {
  flex-grow: 1;
  background-color: #f1f4f8;
}
.html .body .global-container .main__container {
  padding-inline: 30px;
  height: 100%;
  max-width: 1920px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}
.html .body .global-container .main__container .main__search-wrapper {
  padding-block: 113px 151px;
  max-width: 729px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 36px;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-headline {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 46px;
  color: #102441;
  text-align: center;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-line-wrapper {
  max-width: 729px;
  width: 100%;
  display: flex;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-line-wrapper .main__form-search-text {
  border: none;
  outline: none;
  text-overflow: ellipsis;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
  max-width: 651px;
  width: 100%;
  min-height: 68px;
  padding: 20px 25px;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-line-wrapper .main__form-search-text::-moz-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-line-wrapper .main__form-search-text::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-line-wrapper .main__form-search-btn-wrapper {
  padding: 20px 25px;
  background-color: white;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-line-wrapper .main__form-search-btn-wrapper .main__form-search-btn {
  width: 28px;
  height: 28px;
  background: url(../../images/search/loupe-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__search-line-wrapper .main__form-search-btn-wrapper .main__form-search-btn:hover {
  transform: scale(1.5);
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__form-submit-query-btn {
  padding-inline: 10px;
  max-width: 196px;
  width: 100%;
  padding-block: 16px 19px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: white;
  background-color: #203e75;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.html .body .global-container .main__container .main__search-wrapper .main__search-form .main__form-submit-query-btn:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=search.css.map */